:root {
  --theme: #00215E;
  font-family: 'Poppins', sans-serif;
}

* {
  /* color: white; */
  font-size: 12px;
}

.bg {
  background: linear-gradient(#00215E, #2668E1);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 100vh;
}

.link {
  padding: 0;
}

.input, .button, .select {
  font-size: 12px;
  height: 40px !important;
  border-radius: 20px !important;
}

.logo {
  height: 50px;
}

span {
  color: white;
}

.custom-toast {
  color: black; 
}