.items-title{
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;

}
.supplier-header{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 20px;
    display: flex;
    flex-flow: row;
}

.supplier-item-con{
    font-size: 30px;
    justify-content: center;
    font-weight: 700;
    margin-left: 20px;
}

.supplier-menu-button-container{
    display: flex;
    background: linear-gradient(#65A4F6 , #013E8D);
    width: 300px;
    height: 310px;
    border-style: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-flow: column;

}

.menu-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 80px;
}

.menu-text{
    margin: 20px;
    font-size: 15px;
}

.iconSupplier{
    width: 20px;
    height: 20px;

}

.items-container{
    display: flex;
    flex-direction: row;
}

.featured-img{
    width: 795px;
    height: 440px;
    padding-left: 80px;
}

.upload-featured-item{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

.featured-title{
    font-size: 20px;
    padding-left: 80px;
    font-weight: bold;
}

.featured-{
    background-color: #65A4F6;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.supplier-header-container {
    display: flex;
    flex-flow: row;
    background-color: #013E8D;
}

.supplier-filter-container {
    display: flex;
    justify-content: center;
}

.supplier-sort-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.supplier-items-title {
    font-size: 40px;
    font-weight: 600;
}

.products-container-supplier {
    max-width: 600px;
    background-color: white;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.product-card-container-supplier {
    background-color: gray;
    display: grid;
    
}

.product-card-supplier {
    display: flex;
    flex-flow: row;
    width: 500px;
    background-color: blue;
}

.sup-product-image {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.product-text {
    color: black;
}