.header, .footer {
    padding: 15px 0px 15px 0px;
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-img-button {
    height: 23px;
    width: 23px;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.footer-info {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.footer-terms-privacy {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.footer{
    position:-ms-page;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer, .img{
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    margin-right: 60px;
}
.customer-nav-link, .customer-nav-droplink {
    margin: 10px;
    text-decoration: none;
}

.customer-nav-link :hover{
    color: #FFAA00;
    text-decoration: none;
}


.dropdown-icon {
    width: 8%;
    margin: 0px 10px 0px 20px;
}