.header, .footer {
    padding: 15px 0px 15px 0px;
}

.header-button-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.header-img-button {
    height: 23px;
    width: 23px;
}

.logo {
    height: 40px;
}

.cart-badge {
    position: absolute;
    top: 22px;
    right: 230px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 12px;
}

.footer-info {
    display: flex;
    flex-flow: column;
    gap: 5px;
    color: white;
}

.footer-terms-privacy {
    display: flex;
    gap: 10px;
}

.footer{
    background-color: #457497;
    position: static;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.footer, .img{
    justify-content: center;
    align-items: center;
    display: flex;
}