@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


.main {
    /* background-image: url('../assets/images/common/login_bg.png'); */
    background:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    margin: auto !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex; 
    flex-flow: column;
    justify-content: center; 
    align-items: center;

}

.login-container {
    width: 266px;
    gap: 15px;
}

.side-container {
    justify-content: center;
    gap: 15px;
}


.header-title {
    text-align: center;
    color: black;
    font-weight: bolder;
}

.input {
    padding: 10px;
  height: 40px;
  border: 2px solid #0B2447;
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  background: transparent;
  outline: none;
  box-shadow: 7px 7px 0px 0px #0B2447;
  transition: all 0.5s;
}

.create-acc {
    margin-top: 30px;
}

.signup-btn-span, .signup-span {
    font-size: 15px;
}

.signup-btn-span {
    margin-left: 5px;
    font-weight: 800;

}

.signUp-link {
    text-decoration: none;
}